@import "~styles/_vars.scss";
@import "~styles/_mixins.scss";

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;

    &>div {
        border: $border;
        padding: 15px;
        align-items: center;
        background-color: #fff;
    }

    label {
        font-size: 10px;
        font-weight: 500;
        display: block;
        opacity: 0.9;

        @include for-desktop-only {
            font-size: 8px;
        }
    }

    input,
    textarea {
        font-size: 14px;
        padding: 10px;
        // background: transparent;

        &:disabled {
            color: rgba(0, 0, 0, 1);
            pointer-events: auto;
        }

        @include for-desktop-only {
            font-size: 12px;
            background: transparent;
        }

        // @include for-phone-only {
            
        // }
    }
}


.date {
    max-width: 120px;
    // background: inherit;
    border: 1px solid #dddddd;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    transition: all .3s ease;

    @include for-desktop-only {
        max-width: 100px;
    }
}

.price {
    max-width: 70px;
    text-align: center;
    padding: 3px;

    @include for-desktop-only {
        max-width: 50px;
    }
}

.otherInfo {
    display: flex;
    justify-content: center;
}

.otherParams {

    >div {
        padding-bottom: 10px;
    }
}

.comments {
    width: 100%;

    textarea {
        width: 100%;
        border: 1px solid #dddddd;
        font-family: inherit;
        font-weight: inherit;
        font-size: 14px;
        text-align: start;
        line-height: 1.5;

        padding: 0.5rem;

        transition: all .3s ease;

        &:focus {
            border: 1px solid #b9a493;
        }

        @include for-desktop-only {
            font-size: 12px;
        }
    }
}

.urgency {
    label {
        font-size: 16px;
        color: #d64045;
        opacity: 1;

        @include for-desktop-only {
            font-size: 14px;
        }
    }
}