@import "~styles/_vars";
@import '~styles/_mixins.scss';

.actionButtons {
    display: flex;
    margin-bottom: 5px;
    opacity: 0;
}

.actionButtonsActive {
    display: flex;
    margin-bottom: 5px;
    opacity: 1;
}

.addMoreRow {
    font-size: 20px;
    color: #5a4c49;
    margin-right: 10px;
    transition: color .3s;

    &:hover {
        color: lighten(#5a4c49, 20%);
        transition: color .3s;
    }
}

.removeRow {
    font-size: 16px;
    color: #d64045;
    cursor: pointer;
    transition: color .3s;
    vertical-align: middle;
    display: table-cell;

    &:hover {
        color: lighten(#d64045, 20%);
        transition: color .3s;
    }

}


.table {
    font-size: 14px;
    table-layout: fixed;
    width: 100%;

    input {

        &:disabled {
            color: rgba(0, 0, 0, 1);
            pointer-events: auto;
        }
    }

    th {
        background-color: $champagne;
        font-weight: 400;
        text-align: center;
        padding: 15px 15px 15px 15px;
        white-space: nowrap;

        @include for-desktop-only {
            font-size: 12px;
        }
    }

    th:nth-child(1) {
        text-align: left;
        width: 15%;
    }
    th:nth-child(2) {
        width: 5%;
    }
    th:nth-child(3) {
        width: 5%;
    }
    th:nth-child(4) {
        width: 5%;
    }
    th:nth-child(5) {
        width: 5%;
    }
    th:nth-child(6) {
        width: 5%;
    }
    th:nth-child(7) {
        width: 5%;
    }
    th:nth-child(8) {
        width: 5%;
    }
    th:nth-child(9) {
        width: 5%;
        background: transparent;
        border: 0;
    }


    tbody {
        td:nth-child(1) {
            text-align: left;
            padding-left: 20px;

            input {
                text-align: left;
            }
        }

        td:nth-child(8) {
            font-weight: 400;
        }
        td:nth-child(9) {
            border: 0;
            text-align: left;
        }

        td {
            background-color: $bg;
            padding: 15px 15px 15px 15px;
            border-bottom: $border;
            text-align: center;
        }
    }
}


.row {
    td {
        background: transparent;
    }

    // input:focus {
    //     border: 0;
    //     border-bottom: 1px solid #b9a493;
    //     outline: 0;
    // }
}


.input {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px solid transparent;
    background: transparent;

    &:focus {
        border: 0;
        border-bottom: 1px solid #b9a493;
        outline: 0;
    }
}

.inputEditing {
    width: 100%;
    text-align: center;
    border: 0;
    // border-bottom: 1px solid transparent;
    background: transparent;
    border-bottom: 1px solid #b9a493;
        outline: 0;

    &:focus {
        border: 0;
        border-bottom: 1px solid #b9a493;
        outline: 0;
    }
}

.inputReadonly {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px solid transparent;
    background: transparent;
}

.name {
    width: 100%;
    text-align: left;
    border: 0;
    border-bottom: 1px solid transparent;
    background: transparent;
}

.footer {
    td {
        background-color: $bg;
        padding: 15px 15px 15px 25px;
        border: 0;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
    }
}


