@import "~styles/_vars";
@import "~styles/_mixins.scss";

.table {
  // width: 100%;

  label {
    font-size: 14px;
    display: block;
    opacity: 0.8;

    @include for-desktop-only {
      font-size: 8px;
    }
  }

  input {
    background-color: transparent;
    // padding: 10px;
    width: 100%;
    border: 1px solid transparent;
    color: var(--default-font-color);
  }
}

.row {
  // width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-auto-flow: row;
  grid-template-areas:
    "head head"
    ". ."
    ". .";

  // padding: 30px 15px;
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  border-left: var(--default-border);
  margin-bottom: 20px;
  background-color: #fff;
}

.head,
.cell {
  // width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border-bottom: var(--default-border);
  border-right: var(--default-border);
}

.head {
  grid-area: head;
  justify-content: flex-end;
  padding: 15px;
  color: #5a4c49;
}

.name {
  display: block;
}

.actionButtons {
  display: flex;
  margin-bottom: 5px;
  opacity: 0;
}

.actionButtonsActive {
  display: flex;
  margin-bottom: 5px;
  opacity: 1;
}

.addMoreRow {
  font-size: 28px;
  color: #5a4c49;
  margin-right: 10px;
}

.removeRow {
  font-size: 24px;
  color: #d64045;
  cursor: pointer;
  transition: color 0.3s;
  vertical-align: middle;
  display: table-cell;
}

.cost {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}

.inputEditing {
  // width: 100%;
  // text-align: center;
  // border: 0;
  // border-bottom: 1px solid transparent;
  background: transparent;
  border: 1px solid #b9a493;
  outline: 0;

  // &:focus {
  //     // border: 0;
  //     border: 1px solid #b9a493;
  //     outline: 0;
  // }
}

.inputReadonly {
  // width: 100%;
  // text-align: center;

  // border: 0;
  border: 1px solid transparent;
  background: transparent;

  &:focus {
    // border: 0;
    border: 1px solid #b9a493;
    outline: 0;
  }
}

.total {
  padding: 0 15px;
  font-weight: 500;
  text-align: right;

  span {
    margin-left: 20px;
  }
}
