// $bg: #f9f5f0;
$bg: #fff;
// $bg: #fdf8f6;
$champagne: #eae1df;
$logo: #4d4d4d;
$default: #212529;
$primary: #353535;
$secondary: #a1a1a1;
$secondary-hover: #d1ceca;
$danger: #c43343;

$line: #eceae6;
$border: 2px solid #dddddd;
$border-focus: 1px solid #b9a493;

$btn: transparent;
$btn-hover: #212529;

$white: #fff;
$black: #000;
$red: 1px solid red;
$borderW: 1px solid white;
$dotted: 1px dotted #000;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1200;




$sidebar-width: 200px;
$sidebar-width-laptop: 150px;

$laptop-bp: 1200px;
$tablet-bp: 992px;
$mobile-bp: 575px;